openapi: 3.0.3
info:
  title: FLOTA API
  version: "1.0.0"
  description: |
    API de Control Flota (FLOTA). Documento controlado API-0001.
    Autenticación por JWT Bearer; tiempo real por Socket.IO (ver API-0001-README.md).
    Respuestas con forma { ok: true, ... } o { ok: false, error }.
  contact:
    name: SIMARP
servers:
  - url: https://flota.simarp.net
    description: Producción
  - url: http://localhost:8080
    description: Desarrollo local

tags:
  - name: auth
  - name: trips
  - name: geo
  - name: admin
  - name: company
    description: Portal de autoservicio de la empresa cliente (rol 'company', solo lectura)

security:
  - bearerAuth: []

paths:
  /api/auth/register:
    post:
      tags: [auth]
      summary: Registro de usuario
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegisterInput' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/AuthResult' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { description: Email ya registrado, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /api/auth/login:
    post:
      tags: [auth]
      summary: Inicio de sesión
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginInput' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/AuthResult' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { description: Credenciales inválidas, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  /api/trips/estimate:
    post:
      tags: [trips]
      summary: Estimar tarifa y ruta
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/RoutePoints' } } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  distance_km: { type: number }
                  minutes: { type: integer }
                  fare: { type: integer, description: CLP }
                  geometry: { $ref: '#/components/schemas/Geometry' }
                  routed: { type: boolean }
        '400': { $ref: '#/components/responses/BadRequest' }

  /api/trips/route:
    post:
      tags: [trips]
      summary: Geometría de la ruta (opcionalmente con maniobras)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/RoutePoints'
                - type: object
                  properties:
                    steps: { type: boolean, description: Incluir maniobras giro a giro }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  geometry: { $ref: '#/components/schemas/Geometry' }
                  distance_km: { type: number }
                  minutes: { type: integer }
                  routed: { type: boolean }
                  steps:
                    type: array
                    items: { $ref: '#/components/schemas/NavStep' }

  /api/trips/request:
    post:
      tags: [trips]
      summary: Solicitar un viaje (pasajero)
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/TripRequestInput' } } }
      responses:
        '200': { description: Viaje creado, content: { application/json: { schema: { $ref: '#/components/schemas/TripResult' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }

  /api/trips/active:
    get:
      tags: [trips]
      summary: Viaje activo del pasajero
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/TripResult' } } } }

  /api/trips/cancel:
    post:
      tags: [trips]
      summary: Cancelar viaje (pasajero)
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/TripIdInput' } } } }
      responses:
        '200': { description: Cancelado, content: { application/json: { schema: { $ref: '#/components/schemas/Ok' } } } }

  /api/trips/history:
    get:
      tags: [trips]
      summary: Historial del pasajero
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  trips: { type: array, items: { $ref: '#/components/schemas/Trip' } }

  /api/trips/rate:
    post:
      tags: [trips]
      summary: Calificar un viaje
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [trip_id, score]
              properties:
                trip_id: { type: integer }
                score: { type: integer, minimum: 1, maximum: 5 }
                comment: { type: string }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Ok' } } } }

  /api/trips/pending:
    get:
      tags: [trips]
      summary: Solicitudes disponibles (conductor)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  trips: { type: array, items: { $ref: '#/components/schemas/Trip' } }

  /api/trips/accept:
    post:
      tags: [trips]
      summary: Aceptar un viaje (conductor)
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/TripIdInput' } } } }
      responses:
        '200': { description: Aceptado, content: { application/json: { schema: { $ref: '#/components/schemas/TripResult' } } } }

  /api/trips/status:
    post:
      tags: [trips]
      summary: Avanzar estado del viaje (conductor)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [trip_id, status]
              properties:
                trip_id: { type: integer }
                status: { type: string, enum: [arrived, in_progress, completed] }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/TripResult' } } } }

  /api/trips/current:
    get:
      tags: [trips]
      summary: Viaje en curso del conductor
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/TripResult' } } } }

  /api/company/summary:
    get:
      tags: [company]
      summary: Resumen de facturación de la empresa del usuario
      description: Requiere rol 'company'. Devuelve totales de los servicios completados de SU empresa.
      parameters:
        - { name: from, in: query, schema: { type: string, format: date } }
        - { name: to, in: query, schema: { type: string, format: date } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  company: { type: string, nullable: true }
                  totals:
                    type: object
                    properties:
                      services: { type: integer }
                      total: { type: integer }
                      paid: { type: integer }
                      pending: { type: integer }
  /api/company/trips:
    get:
      tags: [company]
      summary: Servicios de la empresa del usuario
      description: Requiere rol 'company'. Lista solo los viajes facturados a SU empresa.
      parameters:
        - { name: from, in: query, schema: { type: string, format: date } }
        - { name: to, in: query, schema: { type: string, format: date } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  trips: { type: array, items: { $ref: '#/components/schemas/Trip' } }

  /api/geo/search:
    get:
      tags: [geo]
      summary: Autocompletado de direcciones
      parameters:
        - { name: q, in: query, required: true, schema: { type: string, minLength: 3 } }
        - { name: viewbox, in: query, required: false, schema: { type: string }, description: "w,s,e,n para sesgar a la vista" }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        label: { type: string }
                        full: { type: string }
                        lat: { type: number }
                        lng: { type: number }

  /api/geo/reverse:
    get:
      tags: [geo]
      summary: Coordenada a dirección
      parameters:
        - { name: lat, in: query, required: true, schema: { type: number } }
        - { name: lng, in: query, required: true, schema: { type: number } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: { ok: { type: boolean }, label: { type: string } }

  /api/admin/analytics:
    get:
      tags: [admin]
      summary: KPIs y series del negocio
      description: Requiere rol admin. Devuelve KPIs, series diaria/por estado/por hora/por día y rankings.
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }

  /api/admin/drivers_map:
    get: { tags: [admin], summary: Posición de conductores, responses: { '200': { description: OK } } }

  /api/admin/trips:
    get:
      tags: [admin]
      summary: Reporte de viajes con filtros
      parameters:
        - { name: from, in: query, schema: { type: string, format: date } }
        - { name: to, in: query, schema: { type: string, format: date } }
        - { name: status, in: query, schema: { type: string } }
        - { name: driver_id, in: query, schema: { type: integer } }
        - { name: company_id, in: query, schema: { type: integer } }
      responses: { '200': { description: OK } }

  /api/admin/users:
    get: { tags: [admin], summary: Listar usuarios, responses: { '200': { description: OK } } }
  /api/admin/user_save:
    post: { tags: [admin], summary: Crear/editar usuario, responses: { '200': { description: OK } } }
  /api/admin/user_delete:
    post: { tags: [admin], summary: Eliminar usuario, responses: { '200': { description: OK } } }
  /api/admin/toggle_user:
    post: { tags: [admin], summary: Activar/desactivar usuario, responses: { '200': { description: OK } } }
  /api/admin/companies:
    get: { tags: [admin], summary: Listar empresas, responses: { '200': { description: OK } } }
  /api/admin/company_save:
    post: { tags: [admin], summary: Crear/editar empresa, responses: { '200': { description: OK } } }
  /api/admin/company_delete:
    post: { tags: [admin], summary: Eliminar empresa, responses: { '200': { description: OK } } }
  /api/admin/vehicles:
    get: { tags: [admin], summary: Listar vehículos, responses: { '200': { description: OK } } }
  /api/admin/vehicle_save:
    post: { tags: [admin], summary: Crear/editar vehículo, responses: { '200': { description: OK } } }
  /api/admin/vehicle_delete:
    post: { tags: [admin], summary: Eliminar vehículo, responses: { '200': { description: OK } } }
  /api/admin/assign_vehicle:
    post: { tags: [admin], summary: Asignar vehículo a conductor, responses: { '200': { description: OK } } }
  /api/admin/settings:
    get: { tags: [admin], summary: Tarifas globales, responses: { '200': { description: OK } } }
  /api/admin/settings_save:
    post: { tags: [admin], summary: Guardar tarifas globales, responses: { '200': { description: OK } } }
  /api/admin/stats:
    get: { tags: [admin], summary: Totales rápidos, responses: { '200': { description: OK } } }
  /api/admin/alerts:
    get:
      tags: [admin]
      summary: Alertas operativas en vivo (centro de operaciones)
      description: Deriva alertas del estado actual — sin señal GPS, solicitud sin conductor, recogida demorada, viaje prolongado.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  count: { type: integer }
                  alerts:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        type: { type: string, enum: [gps, unassigned, pickup, long, offroute] }
                        severity: { type: string, enum: [danger, warn, info] }
                        title: { type: string }
                        detail: { type: string }
  /api/admin/billing:
    get:
      tags: [admin]
      summary: Resumen de facturación por empresa (servicios completados)
      parameters:
        - { name: from, in: query, schema: { type: string, format: date } }
        - { name: to, in: query, schema: { type: string, format: date } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  rows:
                    type: array
                    items:
                      type: object
                      properties:
                        company_id: { type: integer, nullable: true }
                        company_name: { type: string }
                        services: { type: integer }
                        total: { type: integer }
                        paid: { type: integer }
                        pending: { type: integer }
                        pending_count: { type: integer }
                  totals: { type: object }
  /api/admin/trip_billing:
    post:
      tags: [admin]
      summary: Marcar estado de facturación de un servicio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [trip_id, billing_status]
              properties:
                trip_id: { type: integer }
                billing_status: { type: string, enum: [pending, paid, void] }
      responses: { '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Ok' } } } } }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    BadRequest:
      description: Entrada inválida
      content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
  schemas:
    Ok:
      type: object
      properties: { ok: { type: boolean, example: true } }
    Error:
      type: object
      properties:
        ok: { type: boolean, example: false }
        error: { type: string }
    RegisterInput:
      type: object
      required: [name, email, password]
      properties:
        name: { type: string, minLength: 2 }
        email: { type: string, format: email }
        phone: { type: string }
        password: { type: string, minLength: 6 }
        role: { type: string, enum: [passenger, driver], default: passenger }
    LoginInput:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }
    AuthResult:
      type: object
      properties:
        ok: { type: boolean }
        token: { type: string }
        user: { $ref: '#/components/schemas/User' }
    User:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        email: { type: string }
        role: { type: string, enum: [passenger, driver, admin, company] }
    RoutePoints:
      type: object
      required: [origin_lat, origin_lng, dest_lat, dest_lng]
      properties:
        origin_lat: { type: number }
        origin_lng: { type: number }
        dest_lat: { type: number }
        dest_lng: { type: number }
    TripRequestInput:
      allOf:
        - $ref: '#/components/schemas/RoutePoints'
        - type: object
          properties:
            origin_address: { type: string }
            dest_address: { type: string }
            notes: { type: string }
    TripIdInput:
      type: object
      required: [trip_id]
      properties: { trip_id: { type: integer } }
    Geometry:
      type: array
      description: Lista de pares [lat, lng]
      items: { type: array, items: { type: number }, minItems: 2, maxItems: 2 }
    NavStep:
      type: object
      properties:
        lat: { type: number }
        lng: { type: number }
        instruction: { type: string }
        type: { type: string }
        modifier: { type: string }
        distance: { type: integer }
        name: { type: string }
    Trip:
      type: object
      properties:
        id: { type: integer }
        passenger_id: { type: integer }
        driver_id: { type: integer, nullable: true }
        status: { type: string, enum: [requested, accepted, arrived, in_progress, completed, cancelled] }
        origin_lat: { type: number }
        origin_lng: { type: number }
        dest_lat: { type: number }
        dest_lng: { type: number }
        origin_address: { type: string }
        dest_address: { type: string }
        distance_km: { type: number }
        fare: { type: integer }
        folio: { type: integer, nullable: true, description: N° de servicio, asignado al completar }
        billing_status: { type: string, enum: [pending, paid, void] }
        paid_at: { type: string, format: date-time, nullable: true }
        requested_at: { type: string, format: date-time }
    TripResult:
      type: object
      properties:
        ok: { type: boolean }
        trip: { $ref: '#/components/schemas/Trip' }
